@model IEnumerable<NotesAPP.Models.Note>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] NotesAPP</title>
    <link href="~/css/Style.css" rel="stylesheet" />
    <link href="~/lib/icons/fontawesome-free-6.1.0-web/fontawesome-free-6.1.0-web/css/all.min.css" rel="stylesheet" />
    <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
    <!--Montserrat Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <main class="pageContainer">

        <!--  MENU PANEL LEFT  -->

        <aside class="panelOptions">
            @RenderBody()
        </aside>

        <section class="notesContainerAll">

            <!--  NAV BAR NOTES  -->

            <nav class="navBarNotes">

                <div class="contSearchBar">
                    <input class="searchBarNote" type="text" name="name" value="" placeholder="Search..." />
                    <div class="containerSearchIcon">
                        <span class="iconify-inline" data-icon="ant-design:search-outlined"></span>
                    </div>

                </div>

                <div class="content__item">
                    <button class="button button--pandora">
                        <span id="btnAddNotePanel">
                            Add note
                            <span class="iconify-inline" data-icon="ant-design:plus-outlined"></span>
                        </span>
                    </button>
                </div>
            </nav>

            <!--  CONTAINER NOTES  -->

            <div class="containerNotes">

                @foreach (var x in Model)
                {
                    <div class="noteBox">
                        <div id="notePinned" class="notePinned">
                            <span class="iconify-inline pinOrNo" data-icon="noto:pushpin"></span>
                        </div>
                        <p class="noteId">@x.Id</p>
                        <div class="noteTitle"><h2>@x.Title</h2></div>
                        <div class="noteDescr"><p>@x.Desc</p></div>
                        <p class="noteSelected">@x.Pinned</p>
                        <div class="timeAndDelete">

                            <p>@x.Created_at</p>

                            <div class="noteDelete">
                                <form method="post">
                                    <input type="text" name="Id" value="@x.Id" />
                                    <button class="deleteBtnNote" type="submit" asp-action="DeleteNote">
                                        <span class="iconify" data-icon="ep:delete"></span>
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                }

            <div class="contNotesEmpty">
                <span class="iconify" data-icon="fxemoji:notepad"></span>
                <p>Your notes list is Empty!</p>
            </div>

            </div>

        </section><!--End Notes Container ALL-->

        <!--  CREATE NOTE PANEL  -->

        <form id="containerNotePanel" class="containerNotePanel" method="post">
            <div class="notePanel">

                <div class="contPinAndXPanel">
                    <div class="animationPinNote">
                        <span id="pinNoteIconPanel" class="iconify-inline" data-icon="noto:pushpin"></span>
                    </div>

                    <div id="closeNoteX" class="closeNoteX">
                        <span class="iconify-inline" data-icon="bi:x"></span>
                    </div>
                </div>

                <input id="noteIdPanel" type="text" name="Id" value="" />

                <div class="noteTitlePanel">
                    <input id="noteTitle" type="text" name="Title" value="" placeholder="Title..." />
                </div>



                <div class="noteDescrPanel">
                    <textarea id="noteDescr" name="Desc" placeholder="Description..."></textarea>
                </div>

                <div class="noteTimePanel">
                    <p id="noteTimePanel"></p>
                </div>

            </div>

            <div class="notePanelOptions">
                <div class="togglePin">
                    <span class="iconify-inline" data-icon="bi:pin-fill"></span>
                    <label class="switch">
                        <input id="checkBoxPin" name="Pinned" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="createBtnPanel" id="createBtnPanel">
                    <button type="submit" asp-action="CreateNote">Create</button>
                </div>

                <div class="createBtnPanel" id="editBtnPanel">
                    <button type="submit" asp-action="EditNote">Edit</button>
                </div>

            </div>
        </form>

    </main><!--End Page Container-->


    <script src="~/js/app.js"></script>
</body>
</html>
